---
layout: default
title: 我闻如是
---


<table border="0" width="100%">
	<tr>
		<td align="center"><h2>若以色见我，以音声求我，是人行邪道，不得见如来。</h2></td>
	</tr>
	<tr>
		<td align="center">
			<table>
				<tr>
					{% for post in site.posts %}
					<td>
						<a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<sup>整理中</sup>{% endif %}
					</td>
					{% endfor %}
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center">
			<h3><a href="http://list.youku.com/albumlist/show?id=19517002&ascending=1&page=1" target="_blank">三乘菩提之学佛释疑（共130集）</a></h3>
		</td>
	</tr>
</table>
