<div id="SOHUCS"></div>
<script>
    (function(){
        var appid = 'cyrDM9Pkt',
            conf = 'prod_7a337ce8e1fa72975763e0e848c503e0';
        var doc = document,
            s = doc.createElement('script'),
            h = doc.getElementsByTagName('head')[0] ||
                doc.head ||
                doc.documentElement;

        s.type = 'text/javascript';
        s.charset = 'utf-8';
        s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf=' +
                conf + '&appid=' + appid;

        h.insertBefore(s,h.firstChild);
    })()
</script>
