html { }

body {
  color: block;
  font: 400 1em/150% 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, 'Microsoft Yahei', serif;
  padding: 0;
  margin: 0; }

a {
  color: #1a3dc1; }
  a:hover {
    color: red; }

ul {
  padding-left: 10px;
  list-style-position: inside; }

pre, code {
  font: 400 13px/125% consolas, 'lucida console', courier, monospace; }
  pre .lineno {
    color: #c3c3cd; }

pre {
  padding: 10px;
  border: 1px solid #e5e5ee;
  background-color: ghostwhite;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto; }

.clearfix {
  zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.nav {
  zoom: 1; }
  .nav:before,
  .nav:after {
    content: "";
    display: table; }
  .nav:after {
    clear: both; }

.container {
  width: 650px;
  padding: 0 50px; }

.navbar {
  padding: 15px 0;
  background-color: #f8f8ff;
  border-bottom: 1px solid #dcdcdc; }
  .navbar-header a {
    color: #261a3b;
    font-weight: bold;
    font-size: 1.35em; }
  .navbar .nav {
    padding-left: 0;
    margin: 0; }
  .navbar .nav li {
    list-style: none;
    float: left;
    padding-right: 10px; }
    .navbar li.current a {
      color: red;
      font-weight: bold;
      text-decoration: none; }

.main {
  margin: 20px 0; }

.footer {
  color: #999;
  font-size: .85em;
  line-height: 125%; }
  .footer p {
    margin: 5px 0; }
  .footer .about-theme {
    font-size: .85em; }
    .footer .about-theme a {
      color: #999; }

.summary {
  padding: 0;
  border-bottom: 1px solid #e5e5ee; }
  /*
  .summary .mail {
    padding-left: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACY0lEQVQ4T6WTS08TYRSG36/3TmE6AzY0GBMTY+IfcGNiXGgMRhBUokYCVILxgmiBRKNoYlgZSTRSpG5MvGxgibewMGFh/ANNdKNIqFjpFDotvUxnpjPjaUFWsOqXnN13nvOe95zDUONjNeaDfQ+1/eJUJWiUdRS8frDrd8GJ4iaXYauC3Y7Ux1kYU09gmRYsw4TqcqXZYm+LVK+VAoamoxKqxwffWAT83n2gb1UQYwzJz3PIhC9XE03dIIgJxeGQWfzSCclHgIKXhzuVRNkwoDE7uNFxBA4eqiKSX+aRvtUHS9Vgqjq0/Qdg/xZD0e6U2e/+VqlOLQbUrpsw4wtg76dhkMQyqXGFH8LR1Az5RjcsTUVZUVE3NArL5YZ8bxiKyyOzP1dPEUAJaBcG0HC8HdLsNMyXT0mqUYXoGQX631WUijoaI1HsudiFnxPPsBIegu7jZJYYOCPVk4LSuWtoONZW7Xltfg6F4UHoP5ZhFKmyxwPxzWs0n+2sGLIF0Lxema0Mdq7Wa0qj0nkF4tFWwKKuKRLvPkDpC6Gsa6h79Ra7O9oBG02FAAukIEkKShyXZdLQ+TR5IBZbQxBbTpPDNM7kKnxNu5CLxWDk1iEePgJlLQ2PKMDudGCRACkCFDhunUmhkzL/6auQH3sEvrsHOhnlEflt90vLF+BwuxF/MYU0AYpVgCDI/kxGWH8+CX9fP2wu50Yb2z2SDzJ3KRKBPDJSaYEAfr/sz2YFeXICvp7enZP/76bNhkQ0ivztOxuApWAwzmcyYuLBfTjbOzZ3b+cLqYjIzswAj8crHuRqP6Zar/Ef5YYf0x6gHQ8AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
  }
  */

.post-header {
  line-height: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5ee; }
.post .post-title {
  font-size: 1.85em;
  margin: 8px 0; }
.post .post-meta {
  color: #999;
  font-size: .85em; }
